//welcome to calculator global variable
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

:root{
    --ls-c-white: hsl(0, 0%, 100%);
    --ls-c-black: hsl(0, 0%, 0%);

    //Theme 1
    --bg-color-theme1: hsl(224, 27%, 31%); //background color
    --bg-display-theme1: hsl(224, 35%, 15%); //calc display screen
    --bg-case-theme1: hsl(227, 31%, 21%); //case
    --bg-keypad-theme1: hsl(32, 26%, 89%); //keypad
    --bg-equal-theme1: hsl(6, 93%, 67%); //keypad: equal
    --bg-reset-theme1: hsl(224, 21%, 50%); //reset
    --bg-c-theme1: hsl(221, 14%, 31%);

    //Theme 2
    --bg-color-theme2: hsl(0, 0%, 90%); //background color
    --bg-display-theme2: hsl(0, 0%, 93%); //calc display screen
    --bg-case-theme2: hsl(0, 6%, 82%); //case
    --bg-keypad-theme2: hsl(48, 9%, 89%); //keypad
    --bg-equal-theme2: hsl(25, 100%, 61%); //keypad: equal
    --bg-reset-theme2: hsl(185, 41%, 37%); //reset

    //Theme 3
    --bg-color-theme3: hsl(268, 75%, 9%); //background color
    --bg-display-theme3: hsl(0, 0%, 93%); //calc display screen
    --bg-case-theme3: hsl(269, 74%, 12%); //case
    --bg-keypad-theme3: hsl(269, 48%, 20%); //keypad
    --bg-equal-theme3: hsl(176, 100%, 44%); //keypad: equal
    --bg-reset-theme3: hsl(281, 89%, 26%); //reset
    --color-theme3: hsl(53, 100%, 61%);
}

*{
    &::after, &::before{
        box-sizing: border-box;
        margin: 0;
        position: relative;
        font-weight: normal;    
    }
}

body{
    min-height: 100vh;
    font-size: 15px;
    background-color: var(--bg-color-theme1);
    color: var(--ls-c-white)
}

.calc1{
    background-color: var(--bg-color-theme1);
    
}

.tab {
    overflow: hidden;
    border-radius: 35px;
    background-color: #262C43;
    height: 30px;
  }

  .tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px;
    transition: 0.3s;
    border-radius: 50%;
  }


  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: hsl(6, 63%, 50%);
  }
  .tab button.active:hover{
    background-color: var(--bg-equal-theme1)
  }
  

  .tab button.active:nth-child(2){
    background-color: var(--bg-equal-theme2);
  }
  .tab button.active:last-child {
    background-color: var(--bg-equal-theme3);
  }

  /* Style the tab content */
  .content {
    position: absolute;
    display: none;
  }



  #ThemeOne:first-child{
    background-color: var(--bg-display-theme1);
    border:none;
    height: 15%; 
  }
  #ThemeTwo:first-child{
    background-color: #EEEEEE;
    border:none;
    height: 15%; 
  }
  #ThemeOne:nth-child(1){
    background-color: var(--bg-display-theme1);
    border:none;
  }
  #ThemeTwo:nth-child(1){
    background-color: var(--bg-display-theme1);
    border:none;
  }

  #ThemeOne .cont button{
    background-color: var(--bg-keypad-theme1);
    width: 60px;
    height: 60px;
    border-radius: 5px;
    transform-style: preserve-3d;
    font-weight: 700;
    font-size: 30px;
    color: hsl(221, 14%, 31%);
    font-family: 'League Spartan', sans-serif;
    transition: 0.5s;
  }
  #ThemeTwo .cont button{
    background-color: var(--bg-keypad-theme2);
    width: 60px;
    height: 60px;
    border-radius: 5px;
    transform-style: preserve-3d;
    font-weight: 700;
    font-size: 30px;
    color: hsl(221, 14%, 31%);
    font-family: 'League Spartan', sans-serif;
    transition: 0.5s;
  }

  #ThemeOne .cont button:hover{
    background-color: var(--ls-c-white);
  }
  
  .cont:nth-child(4){
    background-color: var(--bg-reset-theme1);
  }

  #ThemeOne .cont button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #A59B91;
  border-radius: inherit;
  box-shadow: 0 0 0 0;
  transform: translate3d(0, 0.2em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }

  #ThemeTwo .cont button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #A59B91;
    border-radius: inherit;
    box-shadow: 0 0 0 0;
    transform: translate3d(0, 0.2em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
   }

  .del button{
    background-color: #647299 !important;
    color: var(--ls-c-white) !important;
  }
  .del button::before{
    background-color: hsl(224, 28%, 35%) !important;
  }
  .equal button{
    background-color: hsl(6, 63%, 50%) !important;
    color: var(--ls-c-white) !important;
  }
  .del button:hover{
    background-color: hsl(224, 52%, 76%) !important;
  }
  .res-hover button:hover{
    background-color: hsl(6, 93%, 67%) !important;
  }
  .equal button::before{
    background-color: hsl(6, 70%, 34%) !important;
  }
  .reset button{
    width: 100% !important;
  }